html {
    box-sizing: border-box;
    background-image: url("accounting-bill-black-53621.jpg");
    background-size: cover;
}

* {
    font-size: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: black;
}

h1 {
    text-align: center;
    font-size: 90px;
    color: goldenrod;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 100px;
    border-radius: 2px;
    border-bottom-left-radius: 1000px;
    border-top-right-radius: 1000px;
    border: 1px transparent;
    background-color: rgba(0, 0, 0, 0.433);
}

form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
}

#value1,
#value2 {
    height: 60px;
    border-radius: 2px;
    border: 1px transparent;
    background-color: rgba(0, 0, 0, 0.493);
    font-size: 35px;
    color: white;
    text-align: right;
}

select {
    height: 70px;
    border-radius: 2px;
    border: 10px solid transparent;
    background-color: goldenrod;
    font-size: 30px;
    color: black;
    padding: 6px;
    margin-top: 15px;
}

option {
    background-color: black;
    color: goldenrod;
    text-shadow: black;
    height: 60px;
    border-radius: 2px;
    border: 10px solid transparent;
    font-size: 30px;
    padding: 6px;
}

button {
    height: 70px;
    border-radius: 2px;
    border: 1px solid transparent;
    background-color: black;
    font-size: 30px;
    color: goldenrod;
    padding: 21px;
    margin-top: 5px;
}

#result {
    position: absolute;
    width: 305px;
    height: 146px;
    font-size: 110px;
    top: 50%;
    left: 50%;
    transform: translate(-10%, 35%);
    background-color: rgba(0, 0, 0, 0.945);
    color: goldenrod;
    text-align: center;
    margin-top: 9px;
}